{"openapi":"3.2.0","info":{"title":"AniBT Open API","version":"1","summary":"AniBT 公开 RSS 与 JSON API","description":"生产 base URL 为 `https://anibt.net`。只使用本文列出的主站路径。\n\n路径与查询参数是公开契约，只做扩展、不做不兼容变更。内部主键（`organizationId`、`_id`）不属于公开契约，第三方用 `slug`。\n\n公开读取可匿名，并按各端点缓存合同支持 HTTP 304。写入、删除、`/me` 必须带字幕组 API Key，响应不缓存。\n\n限流、缓存、304 细节见文档的「限流」与「HTTP 缓存」页。\n","contact":{"email":"support@anibt.net"}},"servers":[{"url":"https://anibt.net","description":"生产"}],"tags":[{"name":"catalog","x-displayName":"目录与身份","description":"字幕组目录与当前 Key 身份。"},{"name":"query","x-displayName":"查询","description":"番剧搜索、季度表、匹配。"},{"name":"rss","x-displayName":"RSS","description":"番剧、全站磁力、其他类与个人订阅。"},{"name":"publish","x-displayName":"发布","description":"番剧与其他类发布。"},{"name":"delete","x-displayName":"删除","description":"删除番剧发布与状态轮询。"},{"name":"torrent","x-displayName":"种子","description":"公开种子下载。"},{"name":"sync","x-displayName":"外站同步","description":"查询普通 release 在六个外站的同步状态。"}],"security":[],"paths":{"/api/subtitle-groups":{"get":{"tags":["catalog"],"operationId":"subtitle-groups","summary":"字幕组目录","description":"可见字幕组列表。启动时拉一次，缓存 name → slug。\n本接口只返回可见项。全量返回。速率限制默认 60 次 / 60 秒 / IP。\n","responses":{"200":{"description":"可见字幕组列表","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubtitleGroupListResponse"},"example":{"ok":true,"data":[{"slug":"kirara-fantasia","name":"Kirara Fantasia","organizationId":"org_HCFDS3FmwXnP","status":"ACTIVE","totalReleases":469,"totalAnimes":84,"createdAt":1775269444251}]}}}},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/api/subtitle-groups/me":{"get":{"tags":["catalog"],"operationId":"me","summary":"字幕组自身信息","description":"当前 Key 所属字幕组、scope 与统计。\n仅 `status=active` 可发布。`apiKeySuffix` 不能用于鉴权。\n","security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"responses":{"200":{"description":"当前字幕组","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubtitleGroupMeResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"}}}},"/api/bgm/search":{"get":{"tags":["query"],"operationId":"bgm-search","summary":"Bangumi 搜索","description":"把番剧名映射为 `bgmId`。站内未收录的作品搜不到。\n不保证第一条就是目标作品。结果按相关度排序。\n`limit` 默认 5，上限 25。速率限制默认 60 次 / 60 秒 / IP。\n","parameters":[{"name":"q","in":"query","required":true,"description":"关键词。中 / 英 / 日 / 罗马音","schema":{"type":"string"}},{"name":"limit","in":"query","description":"条数，默认 5，上限 25","schema":{"type":"integer","default":5,"minimum":1,"maximum":25}}],"responses":{"200":{"description":"搜索结果","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BgmSearchResponse"}}}},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/api/seasons/anime":{"get":{"tags":["query"],"operationId":"seasons-anime","summary":"季度番剧","description":"当季已上架番剧。`bgmId` 优先于 `season`，且不能与 `query` 同时使用。\n`weekday`：0=周日 … 6=周六，按 Asia/Shanghai；`null` 为未排播。`rating` 为 0–100。\n速率限制默认 30 次 / 60 秒 / IP。\n","parameters":[{"name":"season","in":"query","description":"季度。如 2026春 / 2026-SPRING。默认当前季","schema":{"type":"string"}},{"name":"bgmId","in":"query","description":"精确查一部；忽略 season","schema":{"type":"integer"}},{"name":"query","in":"query","description":"标题搜索，别名 q，最长 120 字符，最多 50 条","schema":{"type":"string","maxLength":120}},{"name":"q","in":"query","description":"query 的别名","schema":{"type":"string","maxLength":120}}],"responses":{"200":{"description":"季度番剧","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeasonsAnimeResponse"}}}},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/api/anime/groups":{"get":{"tags":["query"],"operationId":"anime-groups","summary":"单番剧字幕组","description":"某 `bgmId` 正在发布的字幕组，以及每组最近 30 条资源。\n只有公共读模型中的 Anime 投影完整且为 live 时才返回 `200`。\n明确的 `ANIME_NOT_FOUND` 结果返回 `404`。\n公共投影缺失或不一致、候选资源超过 10,000 条、表示超过 2 MiB，或读取暂时不可用时返回 `503 SEARCH_UNAVAILABLE`，并带 `Retry-After` 与 `Cache-Control: no-store`。\n成功响应的 JSON、`ETag`、`HEAD` 和 `304` 保持稳定；浏览器使用 `max-age=0`。\n`magnet` 可能为 `null`。`subtitle`：`EMBEDDED` / `EXTERNAL` / `BUILT_IN` / `NONE`。\n`slug` 可直接用于 `/rss/anime.xml?groupSlug=…`。\n速率限制默认 30 次 / 60 秒 / IP。\n","parameters":[{"name":"bgmId","in":"query","required":true,"description":"Bangumi subject id","schema":{"type":"integer"}}],"responses":{"200":{"description":"字幕组与最近资源","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnimeGroupsResponse"}}}},"304":{"description":"未变化"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Unavailable"}}}},"/api/animes/torrent-match":{"post":{"tags":["query"],"operationId":"anime-torrent-match","summary":"种子标题匹配番剧","description":"解析发布标题与种子内部名，返回 auto / manual 等决定。\n传入 `groupId` 时必须登录且属于该组。GET 返回 `405 METHOD_NOT_ALLOWED`。\n公开路由 `diagnostics=true` 返回 `403`。请求体上限 32 KiB。不缓存。\nMatcher 只在本接口。不要把调用方伪造的匹配结果传给发布接口。\n发布接口必须带 `animeIdType` 与 `animeId`。\n`limit` 默认 10，上限 50。速率限制默认 180 次 / 60 秒 / IP。\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TorrentMatchRequest"}}}},"responses":{"200":{"description":"匹配决定","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TorrentMatchResponse"}}}},"403":{"$ref":"#/components/responses/Forbidden"},"405":{"description":"方法不允许。本接口只接受 POST"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/rss/anime.xml":{"get":{"tags":["rss"],"operationId":"rss-anime","summary":"番剧 RSS","description":"主入口。`bgmId` 与 `groupSlug` 至少提供一个。兼容 Mikan 的 `bangumiId`、`subgroupid`。\nTag 可重复或逗号分隔：`?resolution=1080p&resolution=720p` 与 `?resolution=1080p,720p` 等价。\n非法 `limit` 返回应用 `400`，生产边缘可能先 `403`。与默认值等价的写法会 `308` 到规范 URL。\n每个 `<item>`：`<title>`、`<link>`（`/release/<id>`）、`<guid>`、`<pubDate>`（RFC 822，`+0800`）、`<enclosure>` 磁力、`<torrent>` infoHash、已绑定时 `<anibt:bgmId>`。\n`limit` 默认 100，上限 100。速率限制默认 120 次 / 60 秒 / IP。\n浏览器直开返回原生 XML。搜索引擎不抓 `/rss/`。\n","parameters":[{"$ref":"#/components/parameters/BgmId"},{"name":"bangumiId","in":"query","description":"bgmId 的 Mikan 兼容别名","schema":{"type":"integer"}},{"$ref":"#/components/parameters/GroupSlug"},{"name":"subgroupSlug","in":"query","description":"groupSlug 别名","schema":{"type":"string"}},{"name":"subgroupid","in":"query","description":"groupSlug 的 Mikan 兼容别名","schema":{"type":"string"}},{"$ref":"#/components/parameters/Resolution"},{"$ref":"#/components/parameters/Language"},{"$ref":"#/components/parameters/Format"},{"$ref":"#/components/parameters/Subtitle"},{"name":"episode","in":"query","description":"数字集数，精确匹配","schema":{"type":"integer"}},{"name":"episodeKey","in":"query","description":"显示集数键，如 01、BATCH","schema":{"type":"string"}},{"$ref":"#/components/parameters/RssLimit"}],"responses":{"200":{"description":"RSS 2.0","content":{"application/rss+xml":{"schema":{"type":"string"}}}},"308":{"description":"跟随并保存最终 URL（常见于 limit=100、兼容别名）"},"400":{"$ref":"#/components/responses/BadRequest"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/rss/group/{slug}.xml":{"get":{"tags":["rss"],"operationId":"rss-group","summary":"字幕组短链 RSS","description":"等价 `/rss/anime.xml?groupSlug=<slug>`。不支持 Tag 过滤。\n路径必须以 `.xml` 结尾。未知 slug 返回 `404`。\n规范且无 `limit` 的已收录 group slug 使用 fixed RSS 发布版本；成功响应由 CDN 共享 60 秒并使用 `must-revalidate`。\n带 `limit` 的 URL 仍是动态 RSS。\n`limit` 默认 100，上限 100。速率限制默认 120 次 / 60 秒 / IP。\n","parameters":[{"name":"slug","in":"path","required":true,"description":"字幕组 slug","schema":{"type":"string"}},{"$ref":"#/components/parameters/RssLimit"}],"responses":{"200":{"description":"RSS 2.0","content":{"application/rss+xml":{"schema":{"type":"string"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/rss/magnets.xml":{"get":{"tags":["rss"],"operationId":"rss-magnets","summary":"全站磁力 RSS","description":"全站最近发布。anime 条目带 `<anibt:bgmId>`（已绑定才有）。\n无查询参数的 `/rss/magnets.xml` 是 fixed RSS。\n`q` 与 `search` 只能提供一个值。空、控制字符或超长返回 `400`。UTF-8 最多 160 bytes。\n`/magnets` 使用不透明 previous/next `cursor`。查询参数 `page` 是可访问的失效状态（`Cache-Control: no-store`），不会重定向。\n`limit` 默认 100，上限 100。速率限制默认 120 次 / 60 秒 / IP。\n","parameters":[{"$ref":"#/components/parameters/RssLimit"},{"$ref":"#/components/parameters/SearchQ"},{"name":"search","in":"query","description":"q 的别名。与 q 只能提供一个值","schema":{"type":"string"}},{"$ref":"#/components/parameters/Resolution"},{"$ref":"#/components/parameters/Language"},{"name":"cursor","in":"query","description":"不透明 previous/next 游标","schema":{"type":"string"}},{"name":"page","in":"query","description":"可访问的 no-store 失效状态，不重定向","schema":{"type":"string"}}],"responses":{"200":{"description":"RSS 2.0","content":{"application/rss+xml":{"schema":{"type":"string"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/rss/other/{category}.xml":{"get":{"tags":["rss"],"operationId":"rss-other","summary":"其他类 RSS","description":"不混入番剧 RSS。空分类仍返回有效空 channel。无 `<anibt:bgmId>`。\n详情页路径：`/other-release/<id>`。\n`limit` 默认 100，上限 100。速率限制默认 120 次 / 60 秒 / IP。\n","parameters":[{"name":"category","in":"path","required":true,"description":"manga / music / raw / stage / collection / movie / other","schema":{"$ref":"#/components/schemas/OtherCategory"}},{"$ref":"#/components/parameters/RssLimit"},{"$ref":"#/components/parameters/SearchQ"},{"name":"search","in":"query","description":"q 的别名。与 q 只能提供一个值","schema":{"type":"string"}},{"name":"groupId","in":"query","description":"字幕组组织 ID","schema":{"type":"string"}},{"name":"sortField","in":"query","description":"publishedAt / fileSize","schema":{"type":"string","enum":["publishedAt","fileSize"],"default":"publishedAt"}},{"name":"sortOrder","in":"query","description":"desc / asc","schema":{"type":"string","enum":["desc","asc"],"default":"desc"}}],"responses":{"200":{"description":"RSS 2.0","content":{"application/rss+xml":{"schema":{"type":"string"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/rss/subscriptions.xml":{"get":{"tags":["rss"],"operationId":"rss-subscriptions","summary":"个人订阅 RSS","description":"前端已保存订阅的合并 feed。使用账户后台生成的完整链接。\n响应 `Cache-Control: private, no-store`，无公开 ETag。\n链接带身份凭证。不要贴到 issue、截图、仓库或群。泄露后立刻到后台重置。\n缺少凭证返回 400，凭证无效 401，已吊销 403。\n条目结构与 `/rss/anime.xml` 相同。轮询间隔 ≥ 5 分钟。\n","responses":{"200":{"description":"私人 RSS","headers":{"Cache-Control":{"schema":{"type":"string","example":"private, no-store"}}},"content":{"application/rss+xml":{"schema":{"type":"string"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/api/releases/publish":{"get":{"tags":["publish"],"operationId":"releases-publish-whoami","summary":"发布身份","description":"不写库。不要求 `releases:publish`。批量发布前确认 `groupSlug` 与 `scopes`。\n","security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"responses":{"200":{"description":"当前 Key 的发布身份","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishWhoamiResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["publish"],"operationId":"releases-publish","summary":"发布番剧资源","description":"multipart 必填 `torrent`；JSON 必填 `torrentStorageId`。磁力为可选附加，不能单独发布。preview 同样要求种子。\n`200` 表示主记录已写入，不表示 RSS / 搜索 / 页面已可见。\nJSON 必填 `title`；multipart 未传时可用种子内部名。\n`animeIdType` 与 `animeId` 必填（`bgm` / `anilist` / `mal` / `anidb`）。Matcher 只在 `/api/animes/torrent-match`。\n`notes`：Markdown + 原始 HTML，最多 50000 字符，页面直接渲染。\n`preview=true`：预览链接 10 分钟过期，不进入公开列表。\n未传分辨率等字段时，默认 `resolution=1080p`、`format=MKV`、`subtitle=INTERNAL`、`language=[\"CHS\"]`、`version=v1`；最终 `format=MP4` 时字幕默认更倾向 `EMBEDDED`。\n同版本已存在返回 `409`，换 `version`。\nNyaa 代发仅白名单字幕组，必须 multipart 上传 `.torrent`，且种子含 `http://nyaa.tracker.wf:7777/announce`。启用时 `nyaaCategory` 必填，中文动画字幕常用 `1_3`。\n也可用 `sitePublish.nyaa.enabled` / `sitePublish.nyaa.category` 等结构化字段。只传 `nyaaCategory` 等 Nyaa 字段时，服务端视为启用。\nKey 不要写进客户端、仓库或 issue。\n","security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PublishAnimeMultipart"}},"application/json":{"schema":{"$ref":"#/components/schemas/PublishAnimeJson"}}}},"responses":{"200":{"description":"主记录已写入","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishAnimeResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"409":{"description":"同版本已存在，换 version","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"413":{"description":"种子过大"},"422":{"description":"TORRENT_REQUIRED（multipart 未带 torrent，或 JSON 未带 torrentStorageId）","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"$ref":"#/components/responses/RateLimited"},"503":{"$ref":"#/components/responses/Unavailable"}}}},"/api/other-releases/publish":{"get":{"tags":["publish"],"operationId":"other-releases-publish-whoami","summary":"其他类发布身份","description":"`kind` 为 `other`。不写库。\n","security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"responses":{"200":{"description":"当前 Key 的其他类发布身份","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishWhoamiResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}},"post":{"tags":["publish"],"operationId":"other-releases-publish","summary":"发布其他类资源","description":"不绑定 `bgmId`。`category` 与 `title` 必填。\nmultipart 必填 `torrent`；JSON 必填 `torrentStorageId`。磁力为可选附加。只传磁力返回 `422` / `TORRENT_REQUIRED`。\nNyaa 代发规则与番剧发布相同。\n","security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PublishOtherMultipart"}},"application/json":{"schema":{"$ref":"#/components/schemas/PublishOtherJson"}}}},"responses":{"200":{"description":"主记录已写入","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishOtherResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"422":{"description":"TORRENT_REQUIRED","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/api/releases/{releaseId}":{"delete":{"tags":["delete"],"operationId":"releases-delete","summary":"删除番剧发布","description":"只支持 `rel_*`。无 query、无请求体。最多等待约 2 秒：完成返回 200，否则 202。重复 DELETE 幂等。\n`releaseId`：`^rel_[A-Za-z0-9_-]+$`，5–100 字符。\n普通成员只能删自己的发布；owner / admin 可删本组任意发布。无权与不存在一样返回 404。\n`202` 只表示已受理。只有 `completed` 才表示主记录、公开读模型、缓存和对象存储已通过删除屏障。\n速率限制默认 30 次 / 60 秒 / API Key。\n","security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"$ref":"#/components/parameters/AnimeReleaseId"}],"responses":{"200":{"description":"删除已完成","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeletionReceipt"}}}},"202":{"description":"已受理，按 Retry-After 轮询","headers":{"Location":{"schema":{"type":"string"}},"Retry-After":{"schema":{"type":"string"}},"Cache-Control":{"schema":{"type":"string","example":"private, no-store"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeletionReceipt"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/api/releases/{releaseId}/deletion":{"get":{"tags":["delete"],"operationId":"releases-deletion","summary":"删除状态","description":"查询同一删除回执。未知、从未删除或无权一律 404。\n`pending`：按 `Retry-After` 继续轮询。\n`completed`：站内公开面已不可见。\n`failed`：停止自动重试，记录 `failure.code` 与 `X-Request-ID`。\n速率限制默认 120 次 / 60 秒 / API Key。\n","security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"$ref":"#/components/parameters/AnimeReleaseId"}],"responses":{"200":{"description":"删除回执","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeletionReceipt"}}}},"202":{"description":"仍在 pending","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeletionReceipt"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/api/releases/{releaseId}/sync-status":{"get":{"tags":["sync"],"operationId":"releases-sync-status","summary":"Release 外站同步状态","description":"查询该 API Key 所属字幕组的普通 release 在六个外站的同步状态。\n请求只支持 `rel_...` 形式的 `releaseId`，且资源必须属于当前 Key 所属字幕组。\n不存在、已删除或跨组资源统一返回 `404 NOT_FOUND`。\n成功响应固定返回 `mikan`、`acgrip`、`bangumi`、`acgnx`、`dmhy`、`nyaa` 六个平台；每站提供当前状态、外站 ID/链接、错误、generation、attempt、时间戳和最近 50 条历史。\n状态包括 `not_started`、`pending`、`success`、`failed`、`ambiguous`、`deleted`；响应另含 `overall` 汇总和 `historyTruncated`。\n接口不会返回外站原始响应正文或凭据，响应使用 `Cache-Control: no-store`。\n需要 `releases:sync:read`。\n","security":[{"bearerAuth":[]},{"apiKeyAuth":[]}],"parameters":[{"$ref":"#/components/parameters/AnimeReleaseId"}],"responses":{"200":{"description":"六站同步状态","headers":{"Cache-Control":{"schema":{"type":"string","example":"no-store"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncStatusResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/api/torrent/{releaseId}.torrent":{"get":{"tags":["torrent"],"operationId":"torrent","summary":"下载番剧种子","description":"返回该发布的公开种子。没有种子或未知发布返回 `404`；公开对象暂不可用返回 `503`，并带 `Retry-After`。\n成功响应的关键头部是 `ETag`、`X-Torrent-Content-SHA256`、`X-Torrent-Info-Hash`、`Content-Type: application/x-bittorrent` 和 `Cache-Control`。\n公开种子已包含站点 tracker；旧的 `X-AniBT-Torrent-Source` 与 policy revision 头已退役。\n`releaseId` 为 `rel_*`。\n","parameters":[{"name":"releaseId","in":"path","required":true,"description":"番剧发布 ID，`rel_*`","schema":{"type":"string","pattern":"^rel_[A-Za-z0-9_-]+$"}}],"responses":{"200":{"description":"种子文件","headers":{"ETag":{"schema":{"type":"string"}},"X-Torrent-Content-SHA256":{"schema":{"type":"string"}},"X-Torrent-Info-Hash":{"schema":{"type":"string"}},"Content-Type":{"schema":{"type":"string","example":"application/x-bittorrent"}}},"content":{"application/x-bittorrent":{"schema":{"type":"string","format":"binary"}}}},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/Unavailable"}}}},"/api/other-torrent/{releaseId}.torrent":{"get":{"tags":["torrent"],"operationId":"other-torrent","summary":"下载其他类种子","description":"返回其他类发布的公开种子。`releaseId` 为 `orel_*`。\n没有种子或未知发布返回 `404`；公开对象暂不可用返回 `503`，并带 `Retry-After`。\n","parameters":[{"name":"releaseId","in":"path","required":true,"description":"其他类发布 ID，`orel_*`","schema":{"type":"string","pattern":"^orel_[A-Za-z0-9_-]+$"}}],"responses":{"200":{"description":"种子文件","content":{"application/x-bittorrent":{"schema":{"type":"string","format":"binary"}}}},"404":{"$ref":"#/components/responses/NotFound"},"503":{"$ref":"#/components/responses/Unavailable"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"字幕组 API Key。`Authorization: Bearer <KEY>`。与 `X-API-Key` 二选一，Bearer 优先。\nKey scope：`releases:publish`、`releases:delete`、`releases:sync:read`，至少选一个。\n"},"apiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-Key","description":"字幕组 API Key。Bearer 优先。"}},"parameters":{"BgmId":{"name":"bgmId","in":"query","description":"Bangumi subject id","schema":{"type":"integer"}},"GroupSlug":{"name":"groupSlug","in":"query","description":"字幕组 slug","schema":{"type":"string"}},"RssLimit":{"name":"limit","in":"query","description":"1–100，单个无前导零整数。默认 100。省略即拉满。不要传 `limit=100`，否则可能 308。\n","schema":{"type":"integer","minimum":1,"maximum":100,"default":100}},"Resolution":{"name":"resolution","in":"query","description":"可重复或逗号分隔。4K / 2160p / 1080p / 720p / 480p / 360p","schema":{"type":"array","items":{"$ref":"#/components/schemas/Resolution"}},"style":"form","explode":true},"Language":{"name":"language","in":"query","description":"可重复或逗号分隔","schema":{"type":"array","items":{"$ref":"#/components/schemas/Language"}},"style":"form","explode":true},"Format":{"name":"format","in":"query","description":"可重复或逗号分隔。MKV / MP4 / AVI / WEBM","schema":{"type":"array","items":{"$ref":"#/components/schemas/ContainerFormat"}},"style":"form","explode":true},"Subtitle":{"name":"subtitle","in":"query","description":"可重复或逗号分隔。EXTERNAL / INTERNAL / EMBEDDED / NONE","schema":{"type":"array","items":{"$ref":"#/components/schemas/SubtitleMode"}},"style":"form","explode":true},"SearchQ":{"name":"q","in":"query","description":"关键词。UTF-8 最多 160 bytes。不能空、不能含控制字符","schema":{"type":"string"}},"AnimeReleaseId":{"name":"releaseId","in":"path","required":true,"description":"`rel_*`，5–100 字符","schema":{"type":"string","pattern":"^rel_[A-Za-z0-9_-]+$","minLength":5,"maxLength":100}}},"responses":{"BadRequest":{"description":"参数或 JSON 有误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"Unauthorized":{"description":"认证未通过","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"Forbidden":{"description":"无权限或缺少 scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"NotFound":{"description":"资源不存在，或无权访问时与不存在相同","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"RateLimited":{"description":"超限。按 Retry-After 退避。公开读取超限同样返回 429；Cloudflare 边缘限流可能是 HTML 429","headers":{"Retry-After":{"schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"Unavailable":{"description":"服务暂时不可用或部署中，按 Retry-After 重试","headers":{"Retry-After":{"schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"schemas":{"Resolution":{"type":"string","enum":["4K","2160p","1080p","720p","480p","360p"]},"Language":{"type":"string","enum":["CHS","CHT","JP","EN","KO","ES","PT","FR","DE","IT","RU","AR","HI","ID","MS","TH","VI","TL","TR","PL","UK"]},"ContainerFormat":{"type":"string","enum":["MKV","MP4","AVI","WEBM"]},"SubtitleMode":{"type":"string","enum":["EXTERNAL","INTERNAL","EMBEDDED","NONE"]},"OtherCategory":{"type":"string","enum":["manga","music","raw","stage","collection","movie","other"]},"AnimeIdType":{"type":"string","enum":["bgm","anilist","mal","anidb"]},"Scope":{"type":"string","enum":["releases:publish","releases:delete","releases:sync:read"]},"NyaaCategory":{"type":"string","description":"Nyaa 分类代码。中文动画字幕常用 `1_3`。\n`1_1` Anime - AMV；`1_2` English-translated；`1_3` Non-English-translated；`1_4` Raw；\n`2_1` Audio Lossless；`2_2` Audio Lossy；\n`3_1` Literature English；`3_2` Literature Non-English；`3_3` Literature Raw；\n`4_1` Live Action English；`4_2` Idol/PV；`4_3` Live Action Non-English；`4_4` Live Action Raw；\n`5_1` Pictures Graphics；`5_2` Pictures Photos；\n`6_1` Software Applications；`6_2` Software Games。\n","enum":["1_1","1_2","1_3","1_4","2_1","2_2","3_1","3_2","3_3","4_1","4_2","4_3","4_4","5_1","5_2","6_1","6_2"]},"ErrorEnvelope":{"type":"object","required":["ok","error"],"properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","example":"RATE_LIMIT_EXCEEDED"},"message":{"type":"string"},"reason":{"type":"string","example":"RATE_LIMITED"},"retryable":{"type":"boolean"},"retryAfterMs":{"type":"integer"},"requestId":{"type":"string"}}}}},"SubtitleGroup":{"type":"object","required":["slug","name"],"properties":{"slug":{"type":"string","description":"稳定标识，用于 groupSlug"},"name":{"type":"string","description":"展示名，可能调整"},"organizationId":{"type":"string","description":"内部 ID，不要硬编码"},"status":{"type":"string","description":"本接口只返回可见项"},"totalReleases":{"type":"number","description":"总发布数"},"totalAnimes":{"type":"number","description":"覆盖番剧数"},"website":{"type":"string","description":"站外主页"},"createdAt":{"type":"number","description":"入库时间，毫秒"}}},"SubtitleGroupListResponse":{"type":"object","required":["ok","data"],"properties":{"ok":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/SubtitleGroup"}}}},"SubtitleGroupMeResponse":{"type":"object","required":["ok","data"],"properties":{"ok":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"_id":{"type":"string","description":"内部 ID，不要硬编码"},"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"website":{"type":"string"},"stats":{"type":"object","properties":{"totalReleases":{"type":"number"},"totalAnimes":{"type":"number"},"memberCount":{"type":"number"}}},"status":{"type":"string","description":"仅 active 可发布"},"createdAt":{"type":"number"},"apiKeyId":{"type":"string"},"apiKeySuffix":{"type":"string","description":"不能用于鉴权"},"scopes":{"type":"array","items":{"$ref":"#/components/schemas/Scope"}}}}}},"BgmSearchItem":{"type":"object","properties":{"bgmId":{"type":"integer"},"name":{"type":"string"},"nameCn":{"type":"string"},"date":{"type":["string","null"]},"image":{"type":"string"},"rating":{"type":"number"},"totalEpisodes":{"type":"integer"},"url":{"type":"string"}}},"BgmSearchResponse":{"type":"object","required":["ok","data"],"properties":{"ok":{"type":"boolean","enum":[true]},"data":{"type":"array","items":{"$ref":"#/components/schemas/BgmSearchItem"}}}},"SeasonsAnimeResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"ts":{"type":"number"},"data":{"type":"object","properties":{"currentSeason":{"type":"string"},"requestedSeason":{"type":"string"},"availableSeasons":{"type":"array","items":{"type":"string"}},"scheduleSummary":{"type":"object","properties":{"scheduled":{"type":"integer"},"weekdayOnly":{"type":"integer"},"missingSource":{"type":"integer"}}},"byWeekday":{"type":"array","items":{"type":"object","properties":{"weekday":{"type":["integer","null"],"description":"0=周日 … 6=周六，Asia/Shanghai；null 为未排播"},"weekdayLabel":{"type":"string"},"animes":{"type":"array","items":{"type":"object","properties":{"bgmId":{"type":"integer"},"title":{"type":"object","additionalProperties":{"type":"string"}},"format":{"type":"string"},"kind":{"type":"string"},"rating":{"type":"number","description":"0–100"},"airingAt":{"type":"number"},"scheduleStatus":{"type":"string"},"rssReleaseCount":{"type":"integer"},"hasRelease":{"type":"boolean"}}}}}}},"total":{"type":"integer"}}}}},"AnimeGroupsResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"ts":{"type":"number"},"data":{"type":"object","properties":{"bgmId":{"type":"integer"},"animeId":{"type":"string"},"groups":{"type":"array","items":{"type":"object","properties":{"groupId":{"type":"string","description":"内部 ID，不要硬编码"},"slug":{"type":"string"},"name":{"type":"string"},"status":{"type":"string"},"lastUpdatedAt":{"type":"number"},"items":{"type":"array","items":{"type":"object","properties":{"releaseId":{"type":"string"},"title":{"type":"string"},"magnet":{"type":["string","null"]},"episodeKey":{"type":"string"},"resolution":{"type":"string"},"language":{"type":"array","items":{"type":"string"}},"subtitle":{"type":"string","enum":["EMBEDDED","EXTERNAL","BUILT_IN","NONE"]},"publishedAt":{"type":"number"}}}}}}},"total":{"type":"integer"}}}}},"TorrentMatchRequest":{"type":"object","required":["rawTitle"],"properties":{"rawTitle":{"type":"string","minLength":1,"maxLength":1000,"description":"发布标题原文，1–1000 字符"},"torrentName":{"type":"string","minLength":1,"maxLength":1000,"description":"torrent 内部名，1–1000 字符"},"infoHashHex":{"type":"string","description":"v1 infohash，40 位十六进制；用于绑定发布令牌"},"publishedAt":{"type":"integer","description":"发布时间，毫秒"},"groupId":{"type":"string","description":"字幕组 ID。传入则需会话"},"limit":{"type":"integer","default":10,"maximum":50,"description":"候选数，上限 50"}}},"TorrentMatchResponse":{"type":"object","properties":{"version":{"type":"integer"},"decision":{"type":"object","properties":{"kind":{"type":"string","enum":["auto","manual","none","non_anime","unsupported","unavailable"],"description":"auto：可用 decision.animeId，且必须出现在 candidates。\nmanual：展示候选，不得自动绑定。\nnone：无候选。\nnon_anime：非番剧。\nunsupported：合集等无法用单番剧表达。\nunavailable：检索不可用，稍后重试。\n"},"reason":{"type":"string"},"animeId":{"type":"string"},"bgmId":{"type":"integer"},"confidence":{"type":"string"},"vetoes":{"type":"array","items":{}}}},"candidates":{"type":"array","items":{}},"search":{"type":"object","properties":{"candidateSetComplete":{"type":"boolean"},"generation":{"type":"string"}}},"identityKey":{"type":"string"},"structure":{"type":"object","additionalProperties":true},"decisionToken":{"type":"string"},"decisionTokenExpiresAt":{"type":"number"},"diagnostics":{"type":["object","null"]}}},"PublishWhoamiResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"result":{"type":"object","properties":{"groupId":{"type":"string"},"groupName":{"type":"string"},"groupSlug":{"type":"string"},"apiKeyId":{"type":"string"},"apiKeySuffix":{"type":"string"},"scopes":{"type":"array","items":{"$ref":"#/components/schemas/Scope"}},"kind":{"type":"string","description":"anime 或 other"}}}}},"PublishAnimeMultipart":{"type":"object","required":["animeIdType","animeId","torrent"],"properties":{"animeIdType":{"$ref":"#/components/schemas/AnimeIdType"},"animeId":{"type":"string","description":"对应站点番剧 ID"},"title":{"type":"string","description":"资源文件名。multipart 未传时可用种子内部名"},"torrent":{"type":"string","format":"binary","description":"种子文件。自动提取磁力、标题、大小"},"magnetBase64":{"type":"string","description":"可选；从种子提取，不能代替种子"},"episodeKey":{"type":"string","description":"01 / SP / MOVIE / BATCH"},"resolution":{"$ref":"#/components/schemas/Resolution"},"language":{"type":"array","items":{"$ref":"#/components/schemas/Language"}},"subtitle":{"$ref":"#/components/schemas/SubtitleMode"},"format":{"$ref":"#/components/schemas/ContainerFormat"},"version":{"type":"string","description":"默认 v1"},"fileSize":{"type":"number","description":"字节。可选；从种子提取"},"publishedAt":{"type":"number","description":"毫秒。默认服务端当前时间"},"notes":{"type":"string","maxLength":50000},"trackers":{"type":"array","items":{"type":"string"}},"nyaa":{"type":"boolean","default":false,"description":"白名单组 + multipart + Nyaa tracker"},"nyaaCategory":{"$ref":"#/components/schemas/NyaaCategory"},"nyaaComplete":{"type":"boolean","default":false},"nyaaRemake":{"type":"boolean","default":false},"nyaaDescription":{"type":"string","maxLength":20000},"nyaaInformation":{"type":"string","maxLength":500},"preview":{"type":"boolean","default":false}}},"PublishAnimeJson":{"type":"object","required":["animeIdType","animeId","title","torrentStorageId"],"properties":{"animeIdType":{"$ref":"#/components/schemas/AnimeIdType"},"animeId":{"type":"string"},"anime":{"type":"object","description":"{\"source\":\"anidb\",\"id\":\"17617\"}","additionalProperties":true},"bgmId":{"type":"number","description":"兼容字段"},"title":{"type":"string"},"torrentStorageId":{"type":"string","description":"JSON 下代替上传 torrent 的已有公共存储 key"},"magnetBase64":{"type":"string"},"episodeKey":{"type":"string"},"resolution":{"$ref":"#/components/schemas/Resolution"},"language":{"type":"array","items":{"$ref":"#/components/schemas/Language"}},"subtitle":{"$ref":"#/components/schemas/SubtitleMode"},"format":{"$ref":"#/components/schemas/ContainerFormat"},"version":{"type":"string"},"fileSize":{"type":"number"},"publishedAt":{"type":"number"},"notes":{"type":"string","maxLength":50000},"trackers":{"type":"array","items":{"type":"string"}},"preview":{"type":"boolean","default":false},"sitePublish":{"type":"object","properties":{"nyaa":{"type":"object","properties":{"enabled":{"type":"boolean"},"category":{"$ref":"#/components/schemas/NyaaCategory"},"complete":{"type":"boolean"},"remake":{"type":"boolean"},"description":{"type":"string","maxLength":20000},"information":{"type":"string","maxLength":500}}}}}}},"PublishAnimeResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"result":{"type":"object","properties":{"releaseId":{"type":"string"},"animeId":{"type":"string"},"matchStatus":{"type":"string"},"fileSize":{"type":"number"},"groupId":{"type":"string"},"groupName":{"type":"string"},"groupSlug":{"type":"string"},"apiKeyId":{"type":"string"},"apiKeySuffix":{"type":"string"}}}}},"PublishOtherMultipart":{"type":"object","required":["category","title","torrent"],"properties":{"category":{"$ref":"#/components/schemas/OtherCategory"},"title":{"type":"string","maxLength":500},"torrent":{"type":"string","format":"binary"},"magnetLink":{"type":"string","description":"可选附加，不能单独发布。别名 magnet"},"magnet":{"type":"string"},"magnetBase64":{"type":"string"},"fileSize":{"type":"number"},"trackers":{"type":"array","items":{"type":"string"}},"notes":{"type":"string","maxLength":50000},"customTags":{"type":"array","items":{"type":"string","maxLength":80},"maxItems":20},"tags":{"type":"array","items":{"type":"string"}},"nyaa":{"type":"boolean","default":false},"nyaaCategory":{"$ref":"#/components/schemas/NyaaCategory"}}},"PublishOtherJson":{"type":"object","required":["category","title","torrentStorageId"],"properties":{"category":{"$ref":"#/components/schemas/OtherCategory"},"title":{"type":"string","maxLength":500},"torrentStorageId":{"type":"string"},"magnetLink":{"type":"string"},"magnet":{"type":"string"},"magnetBase64":{"type":"string"},"fileSize":{"type":"number"},"trackers":{"type":"array","items":{"type":"string"}},"notes":{"type":"string","maxLength":50000},"customTags":{"type":"array","items":{"type":"string","maxLength":80},"maxItems":20},"sitePublish":{"type":"object","additionalProperties":true}}},"PublishOtherResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"result":{"type":"object","properties":{"releaseId":{"type":"string"},"groupId":{"type":"string"},"groupName":{"type":"string"},"groupSlug":{"type":"string"},"category":{"$ref":"#/components/schemas/OtherCategory"},"fileSize":{"type":"number"}}}}},"DeletionReceipt":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"result":{"type":"object","properties":{"operationId":{"type":"string"},"releaseId":{"type":"string"},"state":{"type":"string","enum":["pending","completed","failed"]},"statusUrl":{"type":"string"},"acceptedAt":{"type":"number"},"updatedAt":{"type":"number"},"retryAfterMs":{"type":"integer"},"failure":{"type":"object","properties":{"code":{"type":"string"}}}}}}},"SyncPlatformStatus":{"type":"object","properties":{"status":{"type":"string","enum":["not_started","pending","success","failed","ambiguous","deleted"]},"externalId":{"type":["string","null"]},"url":{"type":["string","null"]},"error":{"type":["string","null"]},"generation":{"type":["string","number","null"]},"attempt":{"type":["integer","null"]},"updatedAt":{"type":["number","null"]},"history":{"type":"array","items":{},"description":"最近 50 条"}}},"SyncStatusResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"mikan":{"$ref":"#/components/schemas/SyncPlatformStatus"},"acgrip":{"$ref":"#/components/schemas/SyncPlatformStatus"},"bangumi":{"$ref":"#/components/schemas/SyncPlatformStatus"},"acgnx":{"$ref":"#/components/schemas/SyncPlatformStatus"},"dmhy":{"$ref":"#/components/schemas/SyncPlatformStatus"},"nyaa":{"$ref":"#/components/schemas/SyncPlatformStatus"},"overall":{"type":"object","additionalProperties":true},"historyTruncated":{"type":"boolean"}}}}}}}}
